converter-commons/src/main/resources/converterdata/converter-commons/cii/cius/schematron/abstract/CIUS-IT-Validation.sch

<pattern abstract="true" id="syntax" xmlns="http://purl.oclc.org/dsdl/schematron">
   <rule context="$CIUS-VD-57_CONTEXT">
       <assert test="$CIUS-VD-57" id="CIUS-VD-57" flag="warning"> [CIUS-VD-57] BT-84 (Payment account identifier) -BT minimum length shall be 15, maximum length shall be 34 chars.
        </assert>
    </rule>
</pattern>