converter-commons/src/main/resources/converterdata/converter-commons/xmlcen/xsdstatic/semanticCEN0.0.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.1">


    <xs:element name="SEMANTIC-INVOICE">
        <xs:annotation><xs:documentation>Core invoice semantic model</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BT-1" type="Identifier">
                    <xs:annotation><xs:documentation>Invoice number</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="BT-2" type="xs:date">
                    <xs:annotation><xs:documentation>Invoice issue date</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="BT-3" type="UNTDID1001">
                    <xs:annotation><xs:documentation>Invoice type code</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="BT-5" type="ISO4217">
                    <xs:annotation><xs:documentation>Invoice currency code</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-6" type="ISO4217">
                    <xs:annotation><xs:documentation>VAT accounting currency code</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-7" type="xs:date">
                    <xs:annotation><xs:documentation>Value added tax point date</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-8" type="UNTDID2005">
                    <xs:annotation><xs:documentation>Value added tax point date code</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-9" type="xs:date">
                    <xs:annotation><xs:documentation>Payment due date</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-10" type="xs:string">
                    <xs:annotation><xs:documentation>Buyer reference</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-11" type="DocRef">
                    <xs:annotation><xs:documentation>Project reference</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-12" type="DocRef">
                    <xs:annotation><xs:documentation>Contract reference</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-13" type="DocRef">
                    <xs:annotation><xs:documentation>Purchase order reference</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-14" type="DocRef">
                    <xs:annotation><xs:documentation>Sales order reference</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-15" type="DocRef">
                    <xs:annotation><xs:documentation>Receiving advice reference</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-16" type="DocRef">
                    <xs:annotation><xs:documentation>Despatch advice reference</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-17" type="DocRef">
                    <xs:annotation><xs:documentation>Tender or lot reference</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-18">
                    <xs:annotation><xs:documentation>Invoiced object identifier</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="Identifier">
                                <xs:attribute name="scheme" type="UNTDID1153"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>                
                <xs:element minOccurs="0" name="BT-19" type="xs:string">
                    <xs:annotation><xs:documentation>Buyer accounting reference</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="BT-20" type="xs:string">
                    <xs:annotation><xs:documentation>Payment terms</xs:documentation></xs:annotation>
                </xs:element>
                <!-- INVOICE NOTE -->
                <xs:element maxOccurs="unbounded" minOccurs="0" name="BG-1">
                    <xs:annotation><xs:documentation>INVOICE NOTE</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="BT-21" type="UNTDID4451">
                                <xs:annotation><xs:documentation>Invoice note subject code</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element name="BT-22" type="xs:string">
                                <xs:annotation><xs:documentation>Invoice note</xs:documentation></xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- PROCESS CONTROL -->
                <xs:element name="BG-2">
                    <xs:annotation><xs:documentation>PROCESS CONTROL</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="BT-23" type="xs:string">
                                <xs:annotation><xs:documentation>Business process type</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element name="BT-24" type="Identifier">
                                <xs:annotation><xs:documentation>Specification identifier</xs:documentation></xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- PRECEDING INVOICE REFERENCE -->
                <xs:element maxOccurs="unbounded" minOccurs="0" name="BG-3">
                    <xs:annotation><xs:documentation>PRECEDING INVOICE REFERENCE</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BT-25" type="DocRef">
                                <xs:annotation><xs:documentation>Preceding Invoice reference</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-26" type="xs:date">
                                <xs:annotation><xs:documentation>Preceding Invoice issue date</xs:documentation></xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- SELLER -->
                <xs:element name="BG-4">
                    <xs:annotation><xs:documentation>SELLER</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BT-27" type="xs:string">
                                <xs:annotation><xs:documentation>Seller name</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-28" type="xs:string">
                                <xs:annotation><xs:documentation>Seller trading name</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="BT-29">
                                <xs:annotation><xs:documentation>Seller identifier</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="Identifier">
                                            <xs:attribute name="scheme" type="ISO6523"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-30">
                                <xs:annotation><xs:documentation>Seller legal registration identifier</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="Identifier">
                                            <xs:attribute name="scheme" type="ISO6523"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-31" type="Identifier">
                                <xs:annotation><xs:documentation>Seller VAT identifier</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-32" type="Identifier">
                                <xs:annotation><xs:documentation>Seller tax registration identifier</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-33" type="xs:string">
                                <xs:annotation><xs:documentation>Seller additional legal information</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-34">
                                <xs:annotation><xs:documentation>Seller electronic address</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="Identifier">
                                            <xs:attribute name="scheme" type="CEFlistEND"
                                                use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <!-- SELLER POSTAL ADDRESS -->
                            <xs:element name="BG-5">
                                <xs:annotation><xs:documentation>SELLER POSTAL ADDRESS</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="BT-35" type="xs:string">
                                            <xs:annotation><xs:documentation>Seller address line 1</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-36" type="xs:string">
                                            <xs:annotation><xs:documentation>Seller address line 2</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-162" type="xs:string">
                                            <xs:annotation><xs:documentation>Seller address line 3</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-37" type="xs:string">
                                            <xs:annotation><xs:documentation>Seller city</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-38" type="xs:string">
                                            <xs:annotation><xs:documentation>Seller post code</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-39" type="xs:string">
                                            <xs:annotation><xs:documentation>Seller country subdivision</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element name="BT-40" type="ISO3166">
                                            <xs:annotation><xs:documentation>Seller country code</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!-- SELLER CONTACT -->
                            <xs:element minOccurs="0" name="BG-6">
                                <xs:annotation><xs:documentation>SELLER CONTACT</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="BT-41" type="xs:string">
                                            <xs:annotation><xs:documentation>Seller contact point</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-42" type="xs:string">
                                            <xs:annotation><xs:documentation>Seller contact telephone number</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-43" type="xs:string">
                                            <xs:annotation><xs:documentation>Seller contact email address</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- BUYER -->
                <xs:element name="BG-7">
                    <xs:annotation><xs:documentation>BUYER</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BT-44" type="xs:string">
                                <xs:annotation><xs:documentation>Buyer name</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-45" type="xs:string">
                                <xs:annotation><xs:documentation>Buyer trading name</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-46">
                                <xs:annotation><xs:documentation>Buyer identifier</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="Identifier">
                                            <xs:attribute name="scheme" type="ISO6523"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-47">
                                <xs:annotation><xs:documentation>Buyer legal registration identifier</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="Identifier">
                                            <xs:attribute name="scheme" type="ISO6523"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-48" type="Identifier">
                                <xs:annotation><xs:documentation>Buyer VAT identifier</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-49">
                                <xs:annotation><xs:documentation>Buyer electronic address</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="Identifier">
                                            <xs:attribute name="scheme" type="CEFlistEND"
                                                use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <!-- BUYER POSTAL ADDRESS -->
                            <xs:element name="BG-8">
                                <xs:annotation><xs:documentation>BUYER POSTAL ADDRESS</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="BT-50" type="xs:string">
                                            <xs:annotation><xs:documentation>Buyer address line 1</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-51" type="xs:string">
                                            <xs:annotation><xs:documentation>Buyer address line 2</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-163" type="xs:string">
                                            <xs:annotation><xs:documentation>Buyer address line 3</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-52" type="xs:string">
                                            <xs:annotation><xs:documentation>Buyer city</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-53" type="xs:string">
                                            <xs:annotation><xs:documentation>Buyer post code</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-54" type="xs:string">
                                            <xs:annotation><xs:documentation>Buyer country subdivision</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element name="BT-55" type="ISO3166">
                                            <xs:annotation><xs:documentation>Buyer country code</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!-- BUYER CONTACT -->
                            <xs:element minOccurs="0" name="BG-9">
                                <xs:annotation><xs:documentation>BUYER CONTACT</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="BT-56" type="xs:string">
                                            <xs:annotation><xs:documentation>Buyer contact point</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-57" type="xs:string">
                                            <xs:annotation><xs:documentation>Buyer contact telephone number</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-58" type="xs:string">
                                            <xs:annotation><xs:documentation>Buyer contact email address</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- PAYEE -->
                <xs:element minOccurs="0" name="BG-10">
                    <xs:annotation><xs:documentation>PAYEE</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BT-59" type="xs:string">
                                <xs:annotation><xs:documentation>Payee name</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-60">
                                <xs:annotation><xs:documentation>Payee identifier</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="Identifier">
                                            <xs:attribute name="scheme" type="ISO6523"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-61">
                                <xs:annotation><xs:documentation>Payee legal registration identifier</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="Identifier">
                                            <xs:attribute name="scheme" type="ISO6523"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- SELLER TAX REPRESENTATIVE PARTY -->
                <xs:element minOccurs="0" name="BG-11">
                    <xs:annotation><xs:documentation>SELLER TAX REPRESENTATIVE PARTY</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BT-62" type="xs:string">
                                <xs:annotation><xs:documentation>Seller tax representative name</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element name="BT-63" type="xs:string">
                                <xs:annotation><xs:documentation>Seller tax representative VAT identifier</xs:documentation></xs:annotation>
                            </xs:element>
                            <!-- SELLER TAX REPRESENTATIVE POSTAL ADDRESS -->
                            <xs:element name="BG-12">
                                <xs:annotation><xs:documentation>SELLER TAX REPRESENTATIVE POSTAL ADDRESS</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="BT-64" type="xs:string">
                                            <xs:annotation><xs:documentation>Tax representative address line 1</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-65" type="xs:string">
                                            <xs:annotation><xs:documentation>Tax representative address line 2</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-164" type="xs:string">
                                            <xs:annotation><xs:documentation>Tax representative address line 3</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-66" type="xs:string">
                                            <xs:annotation><xs:documentation>Tax representative city</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-67" type="xs:string">
                                            <xs:annotation><xs:documentation>Tax representative post code</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-68" type="xs:string">
                                            <xs:annotation><xs:documentation>Tax representative country subdivision</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element name="BT-69" type="ISO3166">
                                            <xs:annotation><xs:documentation>Tax representative country code</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- DELIVERY INFORMATION -->
                <xs:element minOccurs="0" name="BG-13">
                    <xs:annotation><xs:documentation>DELIVERY INFORMATION</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="BT-70" type="xs:string">
                                <xs:annotation><xs:documentation>Deliver to party name</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-71">
                                <xs:annotation><xs:documentation>Deliver to location identifier</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="Identifier">
                                            <xs:attribute name="scheme" type="ISO6523"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-72" type="xs:date">
                                <xs:annotation><xs:documentation>Actual delivery date</xs:documentation></xs:annotation>
                            </xs:element>
                            <!-- INVOICING PERIOD -->
                            <xs:element minOccurs="0" name="BG-14">
                                <xs:annotation><xs:documentation>INVOICING PERIOD</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="BT-73" type="xs:date">
                                            <xs:annotation><xs:documentation>Invoicing period start date</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-74" type="xs:date">
                                            <xs:annotation><xs:documentation>Invoicing period end date</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!-- DELIVER TO ADDRESS -->
                            <xs:element minOccurs="0" name="BG-15">
                                <xs:annotation><xs:documentation>DELIVER TO ADDRESS</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="BT-75" type="xs:string">
                                            <xs:annotation><xs:documentation>Deliver to address line 1</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-76" type="xs:string">
                                            <xs:annotation><xs:documentation>Deliver to address line 2</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-165" type="xs:string">
                                            <xs:annotation><xs:documentation>Deliver to address line 3</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-77" type="xs:string">
                                            <xs:annotation><xs:documentation>Deliver to city</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-78" type="xs:string">
                                            <xs:annotation><xs:documentation>Deliver to post code</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-79" type="xs:string">
                                            <xs:annotation><xs:documentation>Deliver to country subdivision</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element name="BT-80" type="ISO3166">
                                            <xs:annotation><xs:documentation>Deliver to country code</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- PAYMENT INSTRUCTIONS -->
                <xs:element minOccurs="0" name="BG-16">
                    <xs:annotation><xs:documentation>PAYMENT INSTRUCTIONS</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BT-81" type="UNTDID4461">
                                <xs:annotation><xs:documentation>Payment means type code</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-82" type="xs:string">
                                <xs:annotation><xs:documentation>Payment means text</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-83" type="xs:string">
                                <xs:annotation><xs:documentation>Remittance information</xs:documentation></xs:annotation>
                            </xs:element>
                            <!-- CREDIT TRANSFER -->
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="BG-17">
                                <xs:annotation><xs:documentation>CREDIT TRANSFER</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="BT-84" type="Identifier">
                                            <xs:annotation><xs:documentation>Payment account identifier</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-85" type="xs:string">
                                            <xs:annotation><xs:documentation>Payment account name</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-86" type="Identifier">
                                            <xs:annotation><xs:documentation>Payment service provider identifier</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="BG-18">
                                <xs:annotation><xs:documentation>PAYMENT CARD INFORMATION</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="BT-87" type="xs:string">
                                            <xs:annotation><xs:documentation>Payment card primary account number</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-88" type="xs:string">
                                            <xs:annotation><xs:documentation>Payment card holder name</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="BG-19">
                                <xs:annotation><xs:documentation>DIRECT DEBIT</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="BT-89" type="Identifier">
                                            <xs:annotation><xs:documentation>Mandate reference identifier</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-90" type="Identifier">
                                            <xs:annotation><xs:documentation>Bank assigned creditor identifier</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-91" type="Identifier">
                                            <xs:annotation><xs:documentation>Debited account identifier</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- DOCUMENT LEVEL ALLOWANCES -->
                <xs:element maxOccurs="unbounded" minOccurs="0" name="BG-20">
                    <xs:annotation><xs:documentation>DOCUMENT LEVEL ALLOWANCES</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BT-92" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Document level allowance amount</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-93" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Document level allowance base amount</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-94" type="Percentage">
                                <xs:annotation><xs:documentation>Document level allowance percentage</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element name="BT-95" type="UNTDID5305">
                                <xs:annotation><xs:documentation>Document level allowance VAT category code</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-96" type="Percentage">
                                <xs:annotation><xs:documentation>Document level allowance VAT rate</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-97" type="UNTDID5189">
                                <xs:annotation><xs:documentation>Document level allowance reason</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-98" type="xs:string">
                                <xs:annotation><xs:documentation>Document level allowance reason code</xs:documentation></xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- DOCUMENT LEVEL CHARGES -->
                <xs:element maxOccurs="unbounded" minOccurs="0" name="BG-21">
                    <xs:annotation><xs:documentation>DOCUMENT LEVEL CHARGES</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BT-99" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Document level charge amount</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-100" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Document level charge base amount</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-101" type="Percentage">
                                <xs:annotation><xs:documentation>Document level charge percentage</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element name="BT-102" type="UNTDID5305">
                                <xs:annotation><xs:documentation>Document level charge VAT category code</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-103" type="Percentage">
                                <xs:annotation><xs:documentation>Document level charge VAT rate</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-104" type="UNTDID7161">
                                <xs:annotation><xs:documentation>Document level charge reason</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-105" type="xs:string">
                                <xs:annotation><xs:documentation>Document level charge reason code</xs:documentation></xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- DOCUMENT TOTALS -->
                <xs:element name="BG-22">
                    <xs:annotation><xs:documentation>DOCUMENT TOTALS</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BT-106" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Sum of Invoice line net amount</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-107" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Sum of allowances on document level</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-108" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Sum of charges on document level</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="1" name="BT-109" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Invoice total amount without VAT</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-110" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Invoice total VAT amount</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-111" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Invoice total VAT amount in accounting currency</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="1" name="BT-112" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Invoice total amount with VAT</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-113" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Paid amount</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-114" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Rounding amount</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="1" name="BT-115" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Amount due for payment</xs:documentation></xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- VAT BREAKDOWN -->
                <xs:element maxOccurs="unbounded" name="BG-23">
                    <xs:annotation><xs:documentation>VAT BREAKDOWN</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BT-116" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>VAT category taxable amount</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element name="BT-117" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>VAT category tax amount</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element name="BT-118" type="UNTDID5305">
                                <xs:annotation><xs:documentation>VAT category code</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-119" type="Percentage">
                                <xs:annotation><xs:documentation>VAT category rate</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-120" type="xs:string">
                                <xs:annotation><xs:documentation>VAT exemption reason text</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-121" type="CEFlistEx">
                                <xs:annotation><xs:documentation>VAT exemption reason code</xs:documentation></xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- ADDITIONAL SUPPORTING DOCUMENTS -->
                <xs:element maxOccurs="unbounded" minOccurs="0" name="BG-24">
                    <xs:annotation><xs:documentation>ADDITIONAL SUPPORTING DOCUMENTS</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BT-122" type="DocRef">
                                <xs:annotation><xs:documentation>Supporting document reference</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-123" type="xs:string">
                                <xs:annotation><xs:documentation>Supporting document description</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-124" type="xs:string">
                                <xs:annotation><xs:documentation>External document location</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-125">
                                <xs:annotation><xs:documentation>Attached document</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:base64Binary">
                                            <xs:attribute name="mime" type="MimeCode" use="required"/>
                                            <xs:attribute name="filename" type="xs:string"
                                                use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- INVOICE LINE -->
                <xs:element maxOccurs="unbounded" name="BG-25">
                    <xs:annotation><xs:documentation>INVOICE LINE</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BT-126" type="Identifier">
                                <xs:annotation><xs:documentation>Invoice line identifier</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-127" type="xs:string">
                                <xs:annotation><xs:documentation>Invoice line note</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-128">
                                <xs:annotation><xs:documentation>Invoice line object identifier
                                    Scheme identifier</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="Identifier">
                                            <xs:attribute name="scheme" type="UNTDID1153"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BT-129" type="Quantity">
                                <xs:annotation><xs:documentation>Invoiced quantity</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element name="BT-130" type="UNECE2021">
                                <xs:annotation><xs:documentation>Invoiced quantity unit of measure code</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element name="BT-131" type="Amount2Decimal">
                                <xs:annotation><xs:documentation>Invoice line net amount</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-132" type="DocRef">
                                <xs:annotation><xs:documentation>Referenced purchase order line reference</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="BT-133" type="xs:string">
                                <xs:annotation><xs:documentation>Invoice line Buyer accounting reference</xs:documentation></xs:annotation>
                            </xs:element>
                            <!-- INVOICE LINE PERIOD -->
                            <xs:element minOccurs="0" name="BG-26">
                                <xs:annotation><xs:documentation>INVOICE LINE PERIOD</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="BT-134" type="xs:date">
                                            <xs:annotation><xs:documentation>Invoice line period start date</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-135" type="xs:date">
                                            <xs:annotation><xs:documentation>Invoice line period end date</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!-- INVOICE LINE ALLOWANCES -->
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="BG-27">
                                <xs:annotation><xs:documentation>INVOICE LINE ALLOWANCES</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="BT-136" type="Amount2Decimal">
                                            <xs:annotation><xs:documentation>Invoice line allowance amount</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-137" type="Amount2Decimal">
                                            <xs:annotation><xs:documentation>Invoice line allowance base amount</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-138" type="Percentage">
                                            <xs:annotation><xs:documentation>Invoice line allowance percentage</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-139" type="xs:string">
                                            <xs:annotation><xs:documentation>Invoice line allowance reason</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-140" type="UNTDID5189">
                                            <xs:annotation><xs:documentation>Invoice line allowance reason code</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!-- INVOICE LINE CHARGES -->
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="BG-28">
                                <xs:annotation><xs:documentation>INVOICE LINE CHARGES</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="BT-141" type="Amount2Decimal">
                                            <xs:annotation><xs:documentation>Invoice line charge amount</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-142" type="Amount2Decimal">
                                            <xs:annotation><xs:documentation>Invoice line charge base amount</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-143" type="Percentage">
                                            <xs:annotation><xs:documentation>Invoice line charge percentage</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-144" type="xs:string">
                                            <xs:annotation><xs:documentation>Invoice line charge reason</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-145" type="UNTDID7161">
                                            <xs:annotation><xs:documentation>Invoice line charge reason code</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!-- PRICE DETAILS -->
                            <xs:element name="BG-29">
                                <xs:annotation><xs:documentation>PRICE DETAILS</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="BT-146" type="UnitPriceAmountPos">
                                            <xs:annotation><xs:documentation>Item net price</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-147" type="UnitPriceAmount">
                                            <xs:annotation><xs:documentation>Item price discount</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-148"  type="UnitPriceAmountPos">
                                            <xs:annotation><xs:documentation>Item gross price</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-149" type="Quantity">
                                            <xs:annotation><xs:documentation>Item price base quantity</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-150" type="UNECE2021">
                                            <xs:annotation><xs:documentation>Item price base quantity unit of measure code</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!-- LINE VAT INFORMATION -->
                            <xs:element name="BG-30">
                                <xs:annotation><xs:documentation>LINE VAT INFORMATION</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="BT-151" type="UNTDID5305">
                                            <xs:annotation><xs:documentation>Invoiced item VAT category code</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-152" type="Percentage">
                                            <xs:annotation><xs:documentation>Invoiced item VAT rate</xs:documentation></xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!-- ITEM INFORMATION -->
                            <xs:element name="BG-31">
                                <xs:annotation><xs:documentation>ITEM INFORMATION</xs:documentation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="BT-153" type="xs:string">
                                            <xs:annotation><xs:documentation>Item name</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-154" type="xs:string">
                                            <xs:annotation><xs:documentation>Item description</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-155" type="Identifier">
                                            <xs:annotation><xs:documentation>Item Seller's identifier</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-156" type="Identifier">
                                            <xs:annotation><xs:documentation>Item Buyer's identifier</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BT-157">
                                            <xs:annotation><xs:documentation>Item standard identifier</xs:documentation></xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="Identifier">
                                                  <xs:attribute name="scheme" type="ISO6523"
                                                  use="required"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="BT-158">
                                            <xs:annotation><xs:documentation> Item classification identifier</xs:documentation></xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="Identifier">
                                                  <xs:attribute name="scheme" use="required"
                                                  type="UNTDID7143"/>
                                                  <xs:attribute name="version" type="xs:string"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="0" name="BT-159" type="ISO3166">
                                            <xs:annotation><xs:documentation>Item country of origin</xs:documentation></xs:annotation>
                                        </xs:element>
                                        <!-- ITEM ATTRIBUTES -->
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="BG-32">
                                            <xs:annotation><xs:documentation>ITEM ATTRIBUTES</xs:documentation></xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="BT-160" type="xs:string">
                                                      <xs:annotation><xs:documentation>Item attribute name</xs:documentation></xs:annotation>
                                                  </xs:element>
                                                  <xs:element name="BT-161" type="xs:string" >
                                                      <xs:annotation><xs:documentation>Item attribute value</xs:documentation></xs:annotation>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="UNTDID1001">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO4217">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="UNTDID2005">
        <xs:restriction base="xs:string">
            <xs:enumeration value="3"/>
            <xs:enumeration value="35"/>
            <xs:enumeration value="432"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UNTDID2475">
        <xs:restriction base="xs:string">
            <xs:enumeration value="5"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UNTDID5305">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AE"/>
            <xs:enumeration value="L"/>
            <xs:enumeration value="M"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="G"/>
            <xs:enumeration value="K"/>
            <xs:enumeration value="Z"/>
            <xs:enumeration value="O"/>
			<xs:enumeration value="B"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MimeCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="application/pdf"/>
            <xs:enumeration value="image/png"/>
            <xs:enumeration value="image/jpeg"/>
            <xs:enumeration value="text/csv"/>
            <xs:enumeration
                value="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
            <xs:enumeration value="application/vnd.oasis.opendocument. spreadsheet"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DocRef">
        <xs:restriction base="Identifier"/>
    </xs:simpleType>
    <xs:simpleType name="Identifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="UNTDID1153">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="UNTDID4451">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="UNTDID7143">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ISO6523">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="CEFlistEND">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="CEFlistEx">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="UNECE2021">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ISO3166">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="UNTDID4461">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="UNTDID5189">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="UNTDID7161">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Amount2Decimal">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="[\-]?[0-9]{1,999}(\.[0-9]{1,2})?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Percentage">
        <xs:restriction base="xs:decimal">
            <xs:maxInclusive value="100.00"/>
            <xs:pattern value="[0-9]{1,3}(\.[0-9]{1,2})?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnitPriceAmount">
        <xs:restriction base="xs:decimal"/>
    </xs:simpleType>
    <xs:simpleType name="UnitPriceAmountPos">
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Quantity">
        <xs:restriction base="xs:decimal"/>
    </xs:simpleType>
</xs:schema>
